@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

body {
  background-color: #f1f1f1
}

header {
  border: 1px solid #666;
}
.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

footer {
  background: black;
  border: 1px solid #666;
  color:#fff;
}